@font-face {
  font-family: 'iconfont';  /* project idï¼š"184256" */
  src: url('//at.alicdn.com/t/font_049xal2mq429be29.eot');
  src: url('//at.alicdn.com/t/font_049xal2mq429be29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_049xal2mq429be29.woff') format('woff'),
  url('//at.alicdn.com/t/font_049xal2mq429be29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_049xal2mq429be29.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
